.row {
  display: flex; /* Usando flexbox para dividir o espaço */
  flex-wrap: nowrap; /* Garantir que o conteúdo não quebre linha */
  height: 100vh;
}



.sidebar {
  width: 140px; /* Definindo a largura fixa para o sidebar */
  height: 100vh;
  position: fixed;
  background-color: #343a40; /* Cor do fundo do sidebar */
  color: white;
  margin-right: 50px;
}
.nav-item{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20px;
  align-items: center;
}
.me-3{
  width: 40px;
}

.client-info {
  display: inline-flex;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  gap: 20px;
}
.client-info p{
  display: block;
  width: 100px;
}
.client-info .id {
  width: auto;
}
.client-info .nome {
  width: 150px;
}
.client-info .cpf {
  width: 110px;
}
.client-info .email {
  width: 150px;
}
.client-info .endereco {
  width: 200px;
}

.lista-cliente{
  margin-left: 200px;
}

.card {
  
  width: 920px;
  max-width: auto;
  padding: 10px;
  margin-left: 100px;
  
  
}

.editar {
  margin-left: 400px;
  height:100vh ;
}
